4sem/DA/lab3-4/antonov_g_e_lab_3/__pycache__/
4sem/DA/lab3-4/antonov_g_e_lab_3/dataset/
4sem/DA/lab3-4/antonov_g_e_lab_3/raw_data/
4sem/DA/lab3-4/antonov_g_e_lab_3/venv/
4sem/DA/lab3-4/antonov_g_e_lab_3/test_custom/
4sem/DA/lab3-4/antonov_g_e_lab_3/resnet18_binary.pth
4sem/DA/lab3-4/antonov_g_e_lab_3/.env
/4sem/PolitechProject
